@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

*{
    font-family: "Jura", sans-serif;
}

body{
    background-color: #DEEEFF;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem;
}

.menu-title{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu-circle{
    height: 30px;
    width: 30px;
    background-color: #cac5c5a5;
    border-radius: 50%;
    position: relative;
    left: 20%;
    z-index: -1;
}

.menu-bar{
    height: 100vh;
    position: absolute;
    z-index: 3;
    display: flex;
    /* align-items: center; */
    
    justify-content: space-around;
    flex-direction: column;
    background-color: #033B52;
    padding: 0;
    margin: 0;
    padding-left: 10rem;
    top: 0;
    left: 0;
    color: #DEEEFF;
    width: 100vw;
    display: none;
}

.menu-bar h1{
    transition: all ease-in-out 400ms;
    cursor: pointer;
}

.menu-bar h1:hover{
    opacity: .8;

}

main{
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;
    flex-direction: column;
}

.arena{
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    gap: 2rem;
}

.rs{
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ls{
    align-self: flex-start;
}

.circle{
    background-color: #231F20;
    padding: .6rem .6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.complexity{
    background-color: #DEEEFF;
    padding: 5rem 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.code{
    background-color: #231F20;
    padding: 1rem;
    color: #DEEEFF;
    border-radius: .3rem;
    min-height: 50vh;
}

#submit-btn{
    background-color: #231F20;
    border: none;
    padding: .3rem 1rem;
    color: #DEEEFF;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
}

#submit-btn:hover{
    opacity: .7;
}

.ls-en{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.suggests{
    width: 30vw;
}

.card-arena{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: .4rem;
}

.card-arena li{
    padding: 1rem;
    background-color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out 500ms;

    cursor: pointer ;
}

 .open-img{
    opacity: 0;
    transition: all ease-in-out 500ms;
    transform: translateY(2rem);
}

.card-arena li:hover .open-img{
    opacity: 1;
    transform: translateY(0rem);
}

