<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neocode</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1 class="logo">NeoCode</h1>
      <div class="menu-title" id="menu-title">
        <div class="menu-circle"></div>
        <div class="txt">Menu</div>
      </div>
    </nav>

    <div class="menu-bar" id="menu-bar">
      <h1>TIME COMPLEXITY</h1>
      <h1>COMPARE ALGORITHMS</h1>
      <h1>READABILITY ENHANCER</h1>
      <h1 id="close-menu">CLOSE</h1>
    </div>

    <main>
      <div class="file-upload">
        <form action="" method="post" enctype="multipart/form-data">
          <input type="file" name="file" id="file" />
          <input type="submit" value="Submit" id="submit-btn" />
        </form>
      </div>
      <div class="arena">
        <div class="ls">
          <h2>Code Submitted</h2>
          <div class="code">
            <pre>
              <code class="language-python">
{% for line in code %}
{{ line }} 
{% endfor %}
</code>
          </pre>
          </div>
        </div>
        <div class="ls">
          <h2>Algorithm Name</h2>
          <div class="suggests">
            <ul class="card-arena">
              <li>
                {{ code_name }}

                <div class="open-img">
                  <img src="./img/share.png" height="20px" alt="" />
                </div>
              </li>
            </ul>
          </div>

          <div class="suggests">
            <ul class="card-arena">
              {% for al in alters %}
              <li>
                {{ al }}

                <div class="open-img">
                  <img src="./img/share.png" height="20px" alt="" />
                </div>
              </li>
              {% endfor %}  
            </ul>
          </div>
        </div>
      </div>
    </main>

    <script src="./script.js"></script>
  </body>
</html>
