<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neocode</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />  
  </head>
  <body>
    <nav>
      <h1 class="logo">NeoCode</h1>
      <div class="menu-title" id="menu-title">
        <div class="menu-circle"></div>
        <div class="txt">Menu</div>
      </div>
    </nav>

    <div class="menu-bar" id="menu-bar">
      <h1>TIME COMPLEXITY</h1>
      <h1>COMPARE ALGORITHMS</h1>
      <h1>READABILITY ENHANCER</h1>
      <h1 id="close-menu">CLOSE</h1>
    </div>

    <main>
      <div class="file-upload">
        <form action="" method="post">
          <input type="file" name="file" id="file" />
          <input type="submit" value="Submit" id="submit-btn" />
        </form>
      </div>
      <div class="arena">
        <div class="ls l">
          <h2>Code Submitted</h2>
          <div class="code">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
            ducimus eos corrupti? Est neque aliquid, praesentium pariatur
            explicabo consectetur sunt, repudiandae provident incidunt culpa
            quod sed quas dignissimos modi tempora, animi ipsa delectus odio
            inventore unde quidem ipsum soluta. Eius quae rem unde nulla
            expedita!
          </div>
        </div>
        <div class="rs">
          <div class="circle">
            <div class="complexity">O(nlogn)</div>
          </div>
        </div>
      </div>
    </main>
    <script src="./script.js"></script>
  </body>
</html>
